@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    @apply text-base hover:text-colors-principal font-font-family-secundario ease-in-out duration-300;
}

.poster{
    @apply h-[300px] w-[200px] rounded-md mb-5 cursor-pointer;
}

.title {
    @apply font-bold font-font-family-secundario ;
}

.card {
    @apply relative flex flex-col items-center justify-center pb-4 h-[385px] w-[200px] bg-colors-secundario rounded-md cursor-pointer;
}

.note {
    @apply absolute top-2 left-2 flex items-center justify-center h-12 w-12 text-colors-cuaternario rounded-full first-letter:font-font-family-secundario text-sm;
}

.loader {
    @apply absolute bg-colors-secundario h-screen w-screen ease-in-out z-50;
    animation: loader 1.68s linear infinite;

}

@keyframes loader {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

